html {
    height: 100%;
}

body {
    height: 100%; 
    margin: 0;
    padding: 0;
}

#__next {
    height: 100%; 
    margin: 0;
    padding: 0;
}


.home-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container .log-in {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0px 25px 25px 25px;
    height: -moz-fit-content;
    height: fit-content;
    width: 300px;
    border-radius: 7px;
    box-shadow: 0px 0px 3px 1px #e7e7e7;
    color: #1c1c57;
    font-family: 'Ubuntu';
}

.home-container .log-in .username-container,
.home-container .log-in .password-container {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    font-size: larger;
    align-items: center;
    font-weight: 400;
    margin-top: 32px;
}

.home-container .log-in button,
.main-application-container button {
    width: 100%;
    cursor: pointer;
    border: none;
    font-size: 1.6em;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: #1465e7;
    font-family: 'Ubuntu';
    color: white;
    transition: all 0.5s;
}




.home-container .log-in button:hover, 
.main-application-container button:hover {
    background-color: #12123b;
}
  
.home-container .log-in input {
    font-size: .8em;
    color: #12123b;
    font-family: 'IBM Plex Sans';
    outline: 1.5px solid hsl(0, 0%, 80%);
    padding: 5px;
    font-size: medium;
    border: none;
    border-radius: 4px;
}

.dashboard-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    width: 93%;
    padding: 20px;
    margin-top: 20px;
    background-color: #f5f6f7;
    border-radius: 10px;
    box-shadow: 0px 0 5px 2px #e6e6e6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Ubuntu';
}

#header .logo img {
    width: 45px;
    margin-right: 10px;
}

#header #admin-name {
    color: #12123b;
    font-weight: 500;
}

#header .logo {
    display: flex;
    align-items: center;
}

#header .logo .logo-text {
    color:#1465e7 ;
    font-size: 2em;
}

.welcome-container {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    margin-top: 50px;
}

.dashboard-container .applications {
    margin-bottom: 30px;
}

.dashboard-container .applications,
.dashboard-container .posts {
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0px 25px 25px 25px;
    height: 250px;
    width: 250px;
    border-radius: 7px;
    box-shadow: 0px 0px 3px 1px #e7e7e7;
    color: #1c1c57;
    font-family: 'Ubuntu';
    font-size: 2em;
    transition: all .2s;
    cursor: pointer;
}

.dashboard-container .applications:hover,
.dashboard-container .posts:hover {
    outline: 3px solid #1465e7;
}

.applications-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu';
    margin-top: 50px;
}

.posts-container {
    width: 100%;
    height: fit-content;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    font-family: 'Ubuntu';
    transition: all .2s;
}

.post-container p {
    margin: 0px;
}

.application-container p {
    margin: 0px;
}

.application-container, .post-container {
    width: 70%;
    background-color: white;
    box-shadow: 0px 0px 3px 1px #e7e7e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: all .2s;
    margin-bottom: 20px;
}

.application-container:hover,
.post-container:hover {
    outline: 3px solid #1465e7;
}

.checkbox-container {
    font-family: 'Ubuntu';
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    gap: 10px;
}

.checkbox-container .accept-container,
.checkbox-container .reject-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-checkmark {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 3.5px;
    border: 2px solid #1c1c57;
    cursor: pointer;
    position: relative;
}
  
.custom-checkmark.selected:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 1.5px;
    background-color:#1465e7;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.main-application-container {
    width: 400px;
    font-family: 'Ubuntu';
    color: #12123b;
    height: fit-content;
    background-color: white;
    box-shadow: 0px 0px 3px 1px #e7e7e7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    border-radius: 5px;
    transition: all .2s;
}
  
.main-application-container .name-date {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    font-size: 1.5em;
}

.main-application-container .sm-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.main-application-container .link-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.main-application-container .link-container span {
    font-weight: 500;
    font-size: 1.3em;
}

.main-application-container .link-container  p {
    width: fit-content;
    margin: 0px;
    word-wrap: break-word;
    margin-top: 8px;
    margin-bottom: 20px;
    color: #1465e7;
    cursor: pointer;
}

.main-application-container .link-container  p:hover {
    border-bottom: 2px solid #1465e7;
    margin-bottom: 18px;
}

.main-application-container textarea {
    width: 95%;
    resize: vertical;
    font-family: 'Ubuntu';
    padding: 2.5%;
    font-size: .9em;
}

.main-application-container .decision-container {

}

.niche-container, 
.niche-tags-container {
    margin-top: 20px;
    font-size: 1.1em;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.niche-container input, 
.niche-tags-container input {
    font-family: 'Ubuntu';
    padding: 2px 5px 2px 5px;
    width: 50%;
}


/* This is for the PinterestPreview */

.pinterestPostPreview {
    font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", Roboto, "Oxygen-Sans", Ubuntu, Cantarell, 
    "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, 
    "Hiragino Kaku Gothic Pro W3", "Hiragino Kaku Gothic Pro", 
    Meiryo, "MS Gothic", Arial, sans-serif, "Apple Color Emoji", 
    "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #ffffff;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 6px #e4e4e4);
    width: 400px;
}

.pinterestPostPreview .mainImg {
    width: 100%;
    position: relative;
    color: #000000;
}

.pinterestPostPreview .mainImg .main {
    width: 100%;
    margin-top: 0px;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pinterestPostPreview .mainImg .videoContainer {
    position: relative;
}

.pinterestPostPreview .mainImg .videoControllers {
    width: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    position: absolute;
    color: white;
    font-size: .8em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pinterestPostPreview .mainImg .videoControllers .time {
    margin-bottom: 4px;
}

.pinterestPostPreview .mainImg .videoControllers img {
    height: 18px;
    cursor: pointer;
}


.pinterestPostPreview .mainImg video {
    object-fit: contain !important;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pinterestPostPreview .linkOnMedia, 
.pinterestPostPreview .zoomOnMedia {
    position: absolute;
}

.pinterestPostPreview .linkOnMedia {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    bottom: 15px;
    left: 15px;
    padding: 10px;
    border-radius: 20px;
}

.pinterestPostPreview .linkOnMedia:hover {
    background-color: rgb(238, 238, 238);
}

.pinterestPostPreview .linkOnMedia div {
    font-weight: 500;
    font-size: .85em;
}

.pinterestPostPreview .linkOnMedia img {
    width: 12px;
    margin-right: 8px;
}

.pinterestPostPreview .zoomOnMedia {
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 244, 244);
    bottom: 15px;
    right: 15px;
    padding: 7px;
    border-radius: 50%;
}

.pinterestPostPreview .zoomOnMedia img {
    width: 15px;
}

.pinterestPostPreview .pinDetails .saveDetails {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.pinterestPostPreview .pinDetails a {
    color: black;
    border-bottom: 1.5px solid black;
    cursor: pointer;
    font-size: .85em;
    margin-left: 15px;
}

.pinterestPostPreview .pinDetails .pinTitle {
    cursor: pointer;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;
}

.pinterestPostPreview .pinDetails .pinDesc {
    color: #000000;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0px;
    display: inline-block;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 90%;
    margin-bottom: 25px;
}

.pinterestPostPreview .pinDetails .saveDetails div {
    display: flex;
}

.pinterestPostPreview .pinDetails .saveDetails div:nth-of-type(2) {
    cursor: pointer;
    background-color: #E60023;
    color: white;
    font-size: .9em;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 18px;
    width: 40px;
}

.pinterestPostPreview .pinDetails .saveDetails div:nth-of-type(2):hover {
    background-color: #a7021b;
}

.pinterestPostPreview .pinDetails .saveDetails img {
    width: 18px;
    height: 18px;

}

.pinterestPostPreview .pinDetails .pinnerInfo div {
    display: flex;
}

.pinterestPostPreview .pinDetails .pinnerInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.pinterestPostPreview .pinDetails .pinnerInfo div:nth-of-type(2) {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background-color: #f3f3f3;
    width: 60px;
    padding: 7px;
    border-radius: 18px;
}

.pinterestPostPreview .pinDetails .pinnerInfo div:nth-of-type(2):hover {
    background-color: #e4e4e4;
}

.pinterestPostPreview .pinDetails .pinnerInfo div:nth-of-type(1) div {
    display: flex;
    flex-direction: column;
}

.pinterestPostPreview .pinDetails .pinnerInfo div:nth-of-type(1) div p {
    color: #000000;
    margin: 0px;
}

.pinterestPostPreview .pinDetails .pinnerInfo div:nth-of-type(1) div p:nth-of-type(1) {
    cursor: pointer;
    font-size: .9em;
    font-weight: 500;
}

.pinterestPostPreview .pinDetails .pinnerInfo div:nth-of-type(1) div p:nth-of-type(2) {
    font-size: .8em;
    font-weight: 400;
}


.pinterestPostPreview .pinDetails .pinnerInfo {
    display: flex;
}

.pinterestPostPreview .pinDetails .pinnerInfo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 7px;
}

.pinterestPostPreview .pinDetails .saveDetails span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.pinterestPostPreview .pinDetails .saveDetails span:hover {
    background-color: #ececec;
}

.pinterestPostPreview .pinDetails .comments {
    color: #000000;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 15px;
    margin-top: 25px;
}

.pinterestPostPreview .pinDetails .comments span {
    color: #7d7d7d;
    font-size: .85em;
    font-weight: 400;
}

.pinterestPostPreview hr {
    margin-top: 25px;
    height: 1px;
    background-color: #ececec;
    border: none;
}

.pinterestPostPreview .bottomSection {
    display: flex;
    flex-direction: column;
}

.pinterestPostPreview .bottomSection div:nth-of-type(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.pinterestPostPreview .bottomSection div:nth-of-type(1) img {
    width: 22px;
}

.pinterestPostPreview .bottomSection div:nth-of-type(1) span {
    background-color: #ececec;
    width: 20px;
    height: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.pinterestPostPreview .bottomSection div:nth-of-type(1) p {
    color: #000000;
    font-size: 1.2em;
    font-weight: 500;
    margin: 0px;
}

.pinterestPostPreview .bottomSection div:nth-of-type(2) {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.pinterestPostPreview .bottomSection div:nth-of-type(2) img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;
}

.pinterestPostPreview .bottomSection div:nth-of-type(2) div {
    background-color: #ececec;
    width: 100%;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    color: #a2a2a2;
    margin: 0px;
    cursor: pointer;
}

.hashtag {
    color: #3578E5;
    cursor: pointer;
}

.hashtag:hover {
    text-decoration: underline;
}

.post-Info-container {
    width: 93%;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.post-Info-container .decision-container {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 7px;
    filter: drop-shadow(0px 0px 6px #e4e4e4);
    width: 500px;
    height: fit-content;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.decision-container .label,
.board-section label,
.comment-section label {
    font-size: 1.3em;
    font-weight: bold;
}

.decision-container .comment-section {
    display: flex;
    flex-direction: column;
}

.decision-container .comment-section label {
    margin-bottom: 10px;
}

.decision-container .comment-section textarea {
    resize: vertical;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

.decision-container .comment-section textarea:focus {
    outline: 2px solid#1465e7;
}

.decision-container .text-section {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.decision-container button {
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    padding:  5px 5px;
    border: none;
    border-radius: 6px;
    background: rgb(20,101,224);
    color: white;
    font-family: 'Ubuntu';
    font-size: 1.5em;
    font-weight: 500;
    transition: all 0.2s;
}

.decision-container button:hover {
    background-color: #1c1c57;
}

.publish-btn-loading {
    background: #73739a !important;
    cursor: auto !important;
}

.board-section {
    margin-top: 10px;
}

.board-section .board {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .07s;
}

.board-section .board p {
    margin: 0px;
    margin-bottom: 5px;
}

.board-section .board:hover {
    outline: 2.5px solid #1465e7; 
    background-color: #d2e3ff;  
}

.selectedBoard {
    outline: 2.5px solid #1465e7;
    background-color: #d2e3ff;  
}